* {
  box-sizing: inherit; 
}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; 
  color: #000; 
  margin: 0px; 
}

html {
  scroll-behavior: smooth;
}

a {
  color: #000; 
}

a:visited {
  color: #000; 
}